.picture{
    background-image: url("../../../images/background/Frame57.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
.btn:hover{
    background-color: greenyellow;
}